@model WebPsiquiatricoMVC.Models.Personal

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Personal</h1>

<h3>Esta seguro que desea eliminar el personal?</h3>
<div>
    <h4>Personal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Nombre</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">Cedula de Identidad</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaIdentidad)
        </dd>
        <dt class = "col-sm-2">Especialidad</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidad)
        </dd>
        <dt class = "col-sm-2">Telefono</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">Horario de Trabajo</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioTrabajo)
        </dd>
        <dt class = "col-sm-2">Usuario Registro</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioRegistro)
        </dd>
        <dt class = "col-sm-2">Fecha Registro</dt>
        <dd class = "col-sm-10">
            @Model.FechaRegistro.ToLongDateString() @Model.FechaRegistro.ToShortTimeString()
        </dd>
        <dt class = "col-sm-2">Estado</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
