@model WebPsiquiatricoMVC.Models.Paciente

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Paciente</h1>

<h3>Esta seguro que desea elminar el paciente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Nombre</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">Cedula de Identidad</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaIdentidad)
        </dd>
        <dt class = "col-sm-2">Edad</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">Telefono</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">Historial Medico</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistorialMedico)
        </dd>
        <dt class = "col-sm-2">Tratamiento</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tratamiento)
        </dd>
        <dt class = "col-sm-2">Usuario Registro</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioRegistro)
        </dd>
        <dt class = "col-sm-2">Fecha Registro</dt>
        <dd class = "col-sm-10">
            @Model.FechaRegistro.ToLongDateString() @Model.FechaRegistro.ToShortTimeString()
        </dd>
        <dt class = "col-sm-2">Estado</dt>
        <dd class = "col-sm-10">
            @(Model.Estado == 1 ? "Activo" : "Inactivo")
        </dd>
        <dt class = "col-sm-2">Fecha de Admision</dt>
        <dd class = "col-sm-10">
            @Model.FechaAdmision.ToLongDateString() @Model.FechaAdmision.ToShortTimeString()
        </dd>
        <dt class = "col-sm-2">Personal Asignado</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonalNavigation.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
