@model IEnumerable<WebPsiquiatricoMVC.Models.Paciente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-5 my-5" style="background-color: rgb(201,228,236)">

    <h1>Pacientes</h1>
    <p>
        <a asp-action="Create">
            <i class="fas fa-plus me-6"></i>Crear Nuevo
        </a>
    </p>
    <table class="table">
        <thead style="color: rgba(137,27,45)">
            <tr>
                <th>Nombre</th>
                <th>C.I.</th>
                <th>Edad</th>
                <th>Telefono</th>
                <th>Historial Medico</th>
                <th>Tratamiento</th>
                <th>Fecha Admision</th>
                <th>Personal Asignado</th>
                <th>Usuario Registro</th>
                <th>Fecha Registro</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CedulaIdentidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HistorialMedico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tratamiento)
                    </td>
                    <td>
                        @item.FechaAdmision.ToShortDateString()
                    </td>
                    <td>
                        @item.IdPersonalNavigation.Nombre
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuarioRegistro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </td>
                    <td>
                        @(item.Estado == 1 ? "Activo" : "Inactivo")
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver"><i class="fas fa-eye me-2"></i></a>
                        <a asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"><i class="fas fa-edit me-2"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"><i class="fas fa-trash me-2"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
