@model WebPsiquiatricoMVC.Models.Citum

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-5 my-5">
    <h1>Detalle de la Cita</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Paciente</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdPacienteNavigation.Nombre)
            </dd>
            <dt class="col-sm-2">Motivo</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Motivo)
            </dd>
            <dt class="col-sm-2">Fecha o Reservacion</dt>
            <dd class="col-sm-10">
                @Model.FechaReservacion.ToLongDateString() @Model.FechaReservacion.ToShortTimeString()
            </dd>
            <dt class="col-sm-2">Pago (Bs)</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pago)
            </dd>
            <dt class="col-sm-2">Usuario Registro</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsuarioRegistro)
            </dd>
            <dt class="col-sm-2">Fecha Registro</dt>
            <dd class="col-sm-10">
                @Model.FechaRegistro.ToLongDateString() @Model.FechaRegistro.ToShortTimeString()
            </dd>
            <dt class="col-sm-2">Estado</dt>
            <dd class="col-sm-10">
                @(Model.Estado == 1 ? "Activo" : "Inactivo")
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">
            <i class="fas fa-edit me-2"></i>Editar
        </a> |
        <a asp-action="Index">
            <i class="bi bi-arrow-90deg-up"></i>Volver a la Lista
        </a>
    </div>
</div>


