@model WebPsiquiatricoMVC.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-5 my-5">
    <h1>Detalle Usuario</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Usuario</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Usuario1)
            </dd>
            <dt class="col-sm-2">Clave</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Clave)
            </dd>
            <dt class="col-sm-2">Usuario Registro</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsuarioRegistro)
            </dd>
            <dt class="col-sm-2">Fecha Registro</dt>
            <dd class="col-sm-10">
                @Model.FechaRegistro.ToLongDateString() @Model.FechaRegistro.ToShortTimeString()
            </dd>
            <dt class="col-sm-2">Estado</dt>
            <dd class="col-sm-10">
                @(Model.Estado == 1 ? "Activo" : "Inactivo")
            </dd>
            <dt class="col-sm-2">Personal</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdPersonalNavigation.Nombre)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">
            <i class="fas fa-edit me-2"></i>Editar
        </a> |
        <a asp-action="Index">
            <i class="bi bi-arrow-90deg-up"></i>Volver a la Lista
        </a>
    </div>
</div>


